main {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid #f6f6f6;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    width: 80vw;
    justify-content: center;
    background-color: #f6f6f6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Define a altura mínima do elemento para ocupar 100% da altura da viewport */
    margin: 40px 0 0 0;
    background: linear-gradient(to bottom, #e0f7ff, #80d0ff, #1a75ff);
    font-size: large;
}

img {
    height: 35px;
    width: 35px;
    padding-right: 10px;
}

div, h1, p {
    text-align: center;
}

h1 {
    font-family: "Playwrite CU", cursive;
    color: #0140ff;
}

td {
    border: 2px solid #0140ff;
    text-align: center;
    padding: 5px 0 5px 0;
    border-collapse: collapse;
}

table {
    width: 50vw;
    margin: 10px auto 0px auto;
}

th {
    background-color: #0140ff;
    color: white;
    padding: 5px 0 5px 0;
    border: 2px solid #0140ff;
}

footer {
    background-color: #add8e6;
    padding: 15px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 40px;
    gap: 60px;
}

footer > p {
    margin: 0px 0px 15px 0px;
}

