:root {
    --azul-principal: #0140ff;
    --azul-medio : #80d0ff;
    --azul-claro : #e0f7ff;
    --cor-fundo : #f6f6f6;
}


main {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; Faz com que o main ocupe o espaço disponível */
    justify-content: center;
    margin: auto;
    width: 80vw;
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-fundo);
    border-radius: 15px;
    padding: 20px;

    /* min-height: 100vh: Se o conteúdo for maior, o elemento crescerá para acomodar o conteúdo. */
    /* height: 100vh: Se o conteúdo for maior, ele será cortado ou causará overflow. */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, var(--azul-claro), var(--azul-medio), #1a75ff);
    font-size: large;
}

img {
    height: 30px;
    width: 30px;
    padding: 5px 10px 0 0;
}

div, h1, p {
    text-align: center;
}

h1 {
    font-family: "Playwrite CU", cursive;
    color: var(--azul-principal);
    margin: 0;
}

td {
    border: 2px solid var(--azul-principal);
    text-align: center;
    padding: 5px 0 5px 0;
    border-collapse: collapse;
}

table {
    width: 50vw;
    margin: 10px auto 0px auto;
    border-collapse: collapse;
}

th {
    background-color: var(--azul-principal);
    color: white;
    padding: 5px 0 5px 0;
    border: 2px solid var(--azul-principal);
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 60px;
    margin-top: 30px;
    background-color: #add8e6;
    padding: 10px 0px 10px 0px;
}

footer > p {
    margin: 0px 0px 8px 0px;
}

/* Incluindo a estilização pós inserção do formulário */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50vw;
    margin: 5px auto 15px auto;
    border: 2px solid var(--azul-principal);
    border-radius: 15px;
    padding: 15px 0;
}

label {
    text-decoration: underline;
    font-weight: bold;
    margin-right: 20px;
}

select {
    width: 150px;
    border-radius: 5px;
    border: 1px solid var(--azul-principal);
    font-size: medium;
    padding: 2px 0;

}

input {
    border-radius: 5px;
    width: 80px;
    font-size: medium;
    font-weight: bold;
    background-color: var(--azul-principal);
    color: white;
    border: 1px solid var(--azul-principal);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 0 0 10px;
}

h2 {
    font-family: "Playwrite CU", cursive;
    color: var(--azul-principal);
    text-align: center;

}

#botao-voltar {
    background-color: var(--azul-principal);
    color: white;
    border: 1px solid var(--azul-principal);
    border-radius: 5px;
    padding: 8px 0;
    margin: 15px 0 30px 0;
    width: 100px;
}

/* Acrescentando configurações de responsividade */

@media screen and (max-width: 913px) {
    
    body {
        font-size: smaller;
    }

    h1, h2{
        color: var(--azul-medio);
    }

    th {
        background-color: var(--azul-medio);
        border: 2px solid var(--azul-medio);
    }

    td, section {
        border: 2px solid var(--azul-medio);
    }

    select {
        width: 100px;
        padding: 1px;
        border: 1px solid var(--azul-medio);
        font-size: smaller;
    }

    input[type="submit"], #botao-voltar {
        width: 70px;
        padding: 1px;
        background-color: var(--azul-medio);
        border: 1px solid var(--azul-medio);
    }  

    
    
}